@import "reset.scss";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/normal.scss";
@import "themes/third.scss";


body {
    color: var(--primary-color);
    font: var(--font-m);

}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    color: var(--primary-color);
}

.content-page {
    display: flex;
}
