@import "reset.scss";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/normal.scss";
@import "themes/third.scss";

body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--primary-color); /* creates padding around scroll thumb */
}
